<div class ="container">
    <h2 class="page-header">Add Employee</h2>
    <form (submit) ="addContact()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" [(ngModel)] = "Name" name="Name" class="form-control">
        </div>
        <div class="form-group">
            <label>Position</label>
            <input type="text" [(ngModel)] = "Position" name="Position" class="form-control">
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="text" [(ngModel)] = "Phone" name="Phone" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" [(ngModel)] = "Email" name="Email" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Salary</label>
            <input type="text" [(ngModel)] = "Salary" name="Salary" class="form-control" required>
        </div>
    
        <input type="submit" class="btn btn btn-success" *ngIf="!update" value="Add">
        <input type="button" class="btn btn btn-success" *ngIf="update" (click)="updateContactById()" value="update">
        <input type="button" class="btn btn btn-danger" *ngIf="update" (click)="cancel()" value="cancel">
    </form>
    </div>
    <hr>
    <div class="container">
    <div *ngFor="let contact of contacts">
        <div class = "col-md-3">
            {{contact.Name}}
        </div>
        <div class= "col-md-3">
            {{contact.Position}}

        </div>
        <div class= col-md-3>
            {{contact.Phone}} 

        </div>
        <div class= col-md-3>
            {{contact.Email}} 

        </div>
        <div class= col-md-3>
            {{contact.Salary}} 

        </div>
        <div class= col-md-3>
            <input type="button"(click)="deleteContact(contact._id)" value="Delete" class="btn btn-danger">
            <input type="button"(click)="getContactById(contact._id)" value="Edit" class="btn btn-success">
        </div>
    </div>
</div>
